/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* CSS RESET */
@import 'reset.css';

/* CSS CUSTOM PROPERTIES */
:root {
  --clr-primary-400: hsl(0, 36%, 70%);
  --clr-primary-900: hsl(0, 6%, 24%);
  
  --clr-neutral-200: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(0, 100%, 98%);
  --clr-neutral-400: hsl(0, 80%, 86%);
  --clr-neutral-500: hsl(0, 74%, 74%);
  
  --clr-accent-400:  hsl(0, 93%, 68%);
  
  --gradient-400: linear-gradient(135deg, var(--clr-neutral-200), var(--clr-neutral-300));
  --gradient-500: linear-gradient(135deg, var(--clr-neutral-400), var(--clr-neutral-500));
  
  --ff-primary: 'Josefin Sans', sans-serif;
  
  --fs-200: 0.625rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-700: 2.5rem;
  --fs-900: 4rem;
  
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
  
  --fs-heading-400: var(--fs-700);
  --fs-paragraph-400: var(--fs-300);
  
  --hero-img: url('/images/hero-mobile.jpg');
}

@media(min-width: 40em) {
  :root {
    --fs-paragraph-400: var(--fs-400);
    
    --hero-img: url('/images/hero-desktop.jpg');
  }
}

@media (min-width: 50em) {
  :root {
    --fs-heading-400: var(--fs-900);
  }
}

body {
  background-color: var(--clr-neutral-300);
  background-image: var(--gradient-400);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--ff-primary);
}

.logo {
  padding-left: 2rem;
  min-height: 6rem;
  display: flex;
  align-items: center;
}

.logo > img {
  width: 7.5rem;
}

.hero-img {
  background-image: var(--hero-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  min-height: 15.5rem;
}

.content {
  padding: 3.75rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > h1 {
  max-width: 10ch;
  color: var(--clr-primary-900);
  font-weight: var(--fw-bold);
  font-size: var(--fs-heading-400);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.625rem;
  margin-bottom: 1.1rem;
}

.content > h1 > span {
  color: var(--clr-primary-400);
  font-weight: var(--fw-light);
}

.content > p {
  color: var(--clr-primary-400);
  font-size: var(--fs-paragraph-400);
  font-weight: var(--fw-regular);
  margin-bottom: 2rem;
}

.content > h1,
.content > p {
  text-align: center;
}

.content > p,
#email-form {
  max-width: 45ch;
}

#email-form {
  position: relative;
  width: 100%;
}

.email-input {
  appearance: none;
  background-color: transparent;
  width: 95%;
  color: var(--clr-primary-900);
  font-size: var(--fs-paragraph-400);
  opacity: 0.7;
  padding: 0.75rem 6rem 0.75rem 1.25rem;
  border: 1px solid var(--clr-primary-400);
  border-radius: 100vmax;
  outline: none;
}

.email-input::placeholder {
  color: var(--clr-primary-400);
  font-weight: var(--fw-light);
}

.email-input:focus {
  opacity: 1;
  border: 1px solid var(--clr-primary-900);
}

.error-msg {
  display: none;
  position: absolute;
  align-self: start;
  min-height: 2rem;
  color: var(--clr-accent-400);
  font-size: var(--fs-paragraph-400);
  padding-left: 1.25rem;
  margin-top: 0.5rem;
}

.email-input:not(:placeholder-shown):invalid {
  background-image: url('/images/icon-error.svg');
  background-repeat: no-repeat;
  background-position: right 3.5rem center;
  border: 1px solid var(--clr-accent-400);
}

@media (min-width: 40em) {
  .email-input:not(:placeholder-shown):invalid {
    background-position: right 5rem center;
  }
}

.email-input:not(:placeholder-shown):not(:focus):invalid + .error-msg {
  display: block;
}

.email-input:placeholder-shown:not(:focus):invalid + .error-msg {
  display: none;
}

/* linked with Javascript */
.active .email-input:placeholder-shown:not(:focus):invalid + .error-msg {
  display: block;
}

.email-submit-btn {
  position: absolute;
  right: 0%;
  border: none;
  background-color: transparent;
  background-image: var(--gradient-500);
  width: 4rem;
  height: 100%;
  border-radius: 100vmax;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 20px var(--clr-neutral-400);
}

.email-submit-btn:hover {
  cursor: pointer;
  filter: brightness(125%);
}

.attribution {
  font-size: var(--fs-200);
  color: var(--clr-primary-900);
  text-align: center;
}

.attribution a {
  color: var(--clr-accent-400);
}

/* TABLETS */
@media (min-width: 40em) {
  body {
    
  }
  .coming-soon {
    overflow: hidden;
    display: grid;
    grid-template-columns: 57% 43%;
    grid-template-areas: 
      'header hero-img'
      'content hero-img'
      'footer hero-img';
    background-image: url('/images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 57% 100%; /* width height */
  }
  
  .logo {
    grid-area: header;
    margin-top: 2rem;
  }
  
  .logo > img {
    width: 8.5rem;
  }
  
  .logo,
  .content,
  footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .hero-img {
    grid-area: hero-img;
  }
  
  .content {
    grid-area: content;
    align-items: start;
    margin: 2.75rem 0 5.6rem;
  }
  
  .content > h1 {
    letter-spacing: 1.12rem;
    line-height: 1.1;
    margin-bottom: 1.25rem;
  }
  
  .content > p {
    line-height: 1.8;
    margin-bottom: 2.2rem;
  }
  
  .content > h1,
  .content > p,
  .attribution {
    text-align: left;
  }
  
  .email-input {
    padding-right: 8rem;
  }
  
  .email-submit-btn {
    width: 5.5rem;
  }
  
  footer {
    grid-area: footer;
  }
}

/* DESKTOPS */
@media (min-width: 75em) {
  .logo,
  .content,
  footer {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}

/* WIDER SCREENS */
@media (min-width: 100em) {
  html {
    font-size: 1.25rem;
  }
}

/* 4K SCREENS */
@media (min-width: 150em) {
  html {
    font-size: 1.75rem;
  }
}